<%- include('includes/header')%>

<div class="container container--narrow">
    <div style="float:left; padding-right:5%">
        <p>Non-Accredited 20ESCOMPED</p>
        <h2>Computer Education</h2>

    </div>
    <div style="float:left; padding-right:5%"><h4>At a Glance</h4>
        <p> 10 weeks<br>
        30 Hours in total</p></div>
   
    
   <div style="clear:right"> <a href="/computerEducation" ><img style="width:20%" src="../images/enrol.jpg"></a></div>
</div>


<div class="text-center">
    <h3>What you will learn</h3>
    <ul>
        <li>
            Use windows operating system to navigate your computer </li>
        <li>
            Personalise windows to suit use and context </li>
        <li>
            Create an email account </li>
        <li>
            Send and receive emails </li>
        <li>
            Identify the functions of Microsoft Word </li>
        <li>
            Use word to develop documents </li>
        <li>
            Enhance documents using the range of tools available in Word including tabs, templates, styles and headers
            / footers </li>
        <li>
            Attach developed word documents to emails and send </li>
        <li>
        Edit and improve documents following feedback - Identify 3 functions of Microsoft Excel </li>
        <li>
            Use Excel to develop a simple household budget </li>
        <li>
            Use Excel to track incoming and outgoing household expenses
        </li>
    </ul>
</div>


<%-include('includes/footer')%>